┘à┘ê┘ä╪» ╪º╪│╪¬╪╣┘ä╪º┘à╪º╪¬ SQL ┘ä┘å┘é┘ä ╪º┘ä╪¿┘è╪º┘å╪º╪¬
================================
-- ╪º╪│╪¬╪╣┘ä╪º┘à╪º╪¬ SQL ┘ä┘å┘é┘ä ╪º┘ä╪¿┘è╪º┘å╪º╪¬ ┘à┘å ┘é╪º╪╣╪»╪⌐ ╪º┘ä╪¿┘è╪º┘å╪º╪¬ ╪º┘ä┘é╪»┘è┘à╪⌐
-- ╪¬╪º╪▒┘è╪« ╪º┘ä╪Ñ┘å╪┤╪º╪í: 2025-09-03 09:22:51
-- ┘é╪│┘à ╪º┘ä┘é┘ê╪º┘å┘è┘å ID: 1

-- ===================================
-- ╪º┘ä╪«╪╖┘ê╪⌐ 1: ╪Ñ╪»╪▒╪º╪¼ ╪º┘ä┘ê╪½╪º╪ª┘é ┘ü┘è ╪¼╪»┘ê┘ä documents
-- ===================================

INSERT INTO documents (
    section_id, user_id, title, content, excerpt, slug,
    is_published, is_featured, views_count, downloads_count, shares_count,
    published_at, created_at, updated_at
) 
SELECT 
    1 as section_id,
    1 as user_id, -- ╪º┘ä┘à╪│╪¬╪«╪»┘à ╪º┘ä╪º┘ü╪¬╪▒╪º╪╢┘è
    title_ar as title,
    COALESCE(description_ar, '') as content,
    COALESCE(brief_ar, '') as excerpt,
    COALESCE(slug_ar, CONCAT('law-', id)) as slug,
    1 as is_published,
    0 as is_featured,
    COALESCE(total_views, 0) as views_count,
    COALESCE(total_downloads, 0) as downloads_count,
    COALESCE(total_shares, 0) as shares_count,
    COALESCE(created_at, NOW()) as published_at,
    COALESCE(created_at, NOW()) as created_at,
    COALESCE(updated_at, NOW()) as updated_at
FROM old_database.lawegs 
WHERE status = 'published' AND deleted_at IS NULL;

-- ===================================
-- ╪º┘ä╪«╪╖┘ê╪⌐ 2: ╪Ñ╪»╪▒╪º╪¼ ┘é┘è┘à ╪º┘ä╪¡┘é┘ê┘ä ╪º┘ä┘à╪«╪╡╪╡╪⌐
-- ===================================

-- ╪▒┘é┘à ╪º┘ä┘é╪º┘å┘ê┘å (laweg_number -> law_number)
INSERT INTO document_field_values (document_id, field_id, value, created_at, updated_at)
SELECT 
    d.id as document_id,
    9 as field_id,
    old_l.laweg_number as value,
    NOW() as created_at,
    NOW() as updated_at
FROM documents d
JOIN old_database.lawegs old_l ON (
    d.title = old_l.title_ar 
    AND d.section_id = 1
)
WHERE old_l.laweg_number IS NOT NULL 
  AND old_l.laweg_number != '' 
  AND old_l.status = 'published' 
  AND old_l.deleted_at IS NULL;

-- ╪¬╪º╪▒┘è╪« ╪º┘ä┘ê╪½┘è┘é╪⌐ (laweg_release_date -> law_date)
INSERT INTO document_field_values (document_id, field_id, value, created_at, updated_at)
SELECT 
    d.id as document_id,
    2 as field_id,
    old_l.laweg_release_date as value,
    NOW() as created_at,
    NOW() as updated_at
FROM documents d
JOIN old_database.lawegs old_l ON (
    d.title = old_l.title_ar 
    AND d.section_id = 1
)
WHERE old_l.laweg_release_date IS NOT NULL 
  AND old_l.laweg_release_date != '' 
  AND old_l.status = 'published' 
  AND old_l.deleted_at IS NULL;

-- ╪º┘ä╪¬╪╡┘å┘è┘ü ┘ê┘ü┘é┘ï╪º ┘ä┘ä╪¡┘é (laweg_subject -> law_subject)
INSERT INTO document_field_values (document_id, field_id, value, created_at, updated_at)
SELECT 
    d.id as document_id,
    10 as field_id,
    old_l.laweg_subject as value,
    NOW() as created_at,
    NOW() as updated_at
FROM documents d
JOIN old_database.lawegs old_l ON (
    d.title = old_l.title_ar 
    AND d.section_id = 1
)
WHERE old_l.laweg_subject IS NOT NULL 
  AND old_l.laweg_subject != '' 
  AND old_l.status = 'published' 
  AND old_l.deleted_at IS NULL;

-- ╪¼┘ç╪⌐ ╪º┘ä╪Ñ╪╡╪»╪º╪▒ (laweg_issuer_pub -> law_issuer_pub)
INSERT INTO document_field_values (document_id, field_id, value, created_at, updated_at)
SELECT 
    d.id as document_id,
    3 as field_id,
    old_l.laweg_issuer_pub as value,
    NOW() as created_at,
    NOW() as updated_at
FROM documents d
JOIN old_database.lawegs old_l ON (
    d.title = old_l.title_ar 
    AND d.section_id = 1
)
WHERE old_l.laweg_issuer_pub IS NOT NULL 
  AND old_l.laweg_issuer_pub != '' 
  AND old_l.status = 'published' 
  AND old_l.deleted_at IS NULL;

-- ╪¡╪º┘ä╪⌐ ╪º┘ä┘é╪º┘å┘ê┘å (laweg_type -> law_type)
INSERT INTO document_field_values (document_id, field_id, value, created_at, updated_at)
SELECT 
    d.id as document_id,
    6 as field_id,
    old_l.laweg_type as value,
    NOW() as created_at,
    NOW() as updated_at
FROM documents d
JOIN old_database.lawegs old_l ON (
    d.title = old_l.title_ar 
    AND d.section_id = 1
)
WHERE old_l.laweg_type IS NOT NULL 
  AND old_l.laweg_type != '' 
  AND old_l.status = 'published' 
  AND old_l.deleted_at IS NULL;

-- ===================================
-- ╪º┘ä╪«╪╖┘ê╪⌐ 3: ╪º┘ä╪¬╪¡┘é┘é ┘à┘å ╪º┘ä┘å╪¬╪º╪ª╪¼
-- ===================================

-- ╪╣╪»╪» ╪º┘ä┘ê╪½╪º╪ª┘é ╪º┘ä┘à┘å┘é┘ê┘ä╪⌐
SELECT COUNT(*) as total_documents 
FROM documents 
WHERE section_id = 1;

-- ╪╣╪»╪» ┘é┘è┘à ╪º┘ä╪¡┘é┘ê┘ä ╪º┘ä┘à╪«╪╡╪╡╪⌐ ┘ä┘â┘ä ╪¡┘é┘ä
SELECT '╪▒┘é┘à ╪º┘ä┘é╪º┘å┘ê┘å' as field_name, COUNT(*) as values_count
FROM document_field_values 
WHERE field_id = 9
UNION ALL
SELECT '╪¬╪º╪▒┘è╪« ╪º┘ä┘ê╪½┘è┘é╪⌐' as field_name, COUNT(*) as values_count
FROM document_field_values 
WHERE field_id = 2
UNION ALL
SELECT '╪º┘ä╪¬╪╡┘å┘è┘ü ┘ê┘ü┘é┘ï╪º ┘ä┘ä╪¡┘é' as field_name, COUNT(*) as values_count
FROM document_field_values 
WHERE field_id = 10
UNION ALL
SELECT '╪¼┘ç╪⌐ ╪º┘ä╪Ñ╪╡╪»╪º╪▒' as field_name, COUNT(*) as values_count
FROM document_field_values 
WHERE field_id = 3
UNION ALL
SELECT '╪¡╪º┘ä╪⌐ ╪º┘ä┘é╪º┘å┘ê┘å' as field_name, COUNT(*) as values_count
FROM document_field_values 
WHERE field_id = 6
UNION ALL
SELECT '╪º┘ä┘à╪¼┘à┘ê╪╣' as field_name, COUNT(*) as values_count
FROM document_field_values dfv
JOIN documents d ON d.id = dfv.document_id
WHERE d.section_id = 1;

-- ===================================
-- ┘à╪╣┘ä┘ê┘à╪º╪¬ ╪Ñ╪╢╪º┘ü┘è╪⌐
-- ===================================

-- ┘à╪╣╪▒┘ü╪º╪¬ ╪º┘ä╪¡┘é┘ê┘ä ╪º┘ä┘à╪«╪╡╪╡╪⌐:
-- ╪¬╪º╪▒┘è╪« ╪º┘ä┘ê╪½┘è┘é╪⌐: ID = 2, Name = law_date, Type = date
-- ╪¼┘ç╪⌐ ╪º┘ä╪Ñ╪╡╪»╪º╪▒: ID = 3, Name = law_issuer_pub, Type = select
-- ╪¡╪º┘ä╪⌐ ╪º┘ä┘é╪º┘å┘ê┘å: ID = 6, Name = law_type, Type = select
-- ╪▒┘é┘à ╪º┘ä┘é╪º┘å┘ê┘å: ID = 9, Name = law_number, Type = text
-- ╪º┘ä╪¬╪╡┘å┘è┘ü ┘ê┘ü┘é┘ï╪º ┘ä┘ä╪¡┘é: ID = 10, Name = law_subject, Type = select

-- ┘à┘ä╪º╪¡╪╕╪º╪¬ ┘à┘ç┘à╪⌐:
-- 1. ╪º╪│╪¬╪¿╪»┘ä 'old_database' ╪¿╪º╪│┘à ┘é╪º╪╣╪»╪⌐ ╪º┘ä╪¿┘è╪º┘å╪º╪¬ ╪º┘ä┘é╪»┘è┘à╪⌐ ╪º┘ä┘ü╪╣┘ä┘è
-- 2. ╪¬╪ú┘â╪» ┘à┘å ┘ê╪¼┘ê╪» ╪º┘ä┘à╪│╪¬╪«╪»┘à ╪▒┘é┘à 1 ┘ü┘è ╪¼╪»┘ê┘ä users
-- 3. ┘é┘à ╪¿╪╣┘à┘ä ┘å╪│╪«╪⌐ ╪º╪¡╪¬┘è╪º╪╖┘è╪⌐ ┘é╪¿┘ä ╪¬┘å┘ü┘è╪░ ╪º┘ä╪º╪│╪¬╪╣┘ä╪º┘à╪º╪¬
-- 4. ╪º╪«╪¬╪¿╪▒ ╪º┘ä╪º╪│╪¬╪╣┘ä╪º┘à╪º╪¬ ╪╣┘ä┘ë ╪╣┘è┘å╪⌐ ╪╡╪║┘è╪▒╪⌐ ╪ú┘ê┘ä╪º┘ï
-- 5. ╪¬╪¡┘é┘é ┘à┘å ╪¬┘ê╪º┘ü┘é ┘é┘è┘à ╪º┘ä╪¡┘é┘ê┘ä ┘à╪╣ ╪º┘ä╪«┘è╪º╪▒╪º╪¬ ╪º┘ä┘à╪¡╪»╪»╪⌐

-- ===================================
-- ╪º╪│╪¬╪╣┘ä╪º┘à╪º╪¬ ╪º┘ä╪¬┘å╪╕┘è┘ü (╪º╪«╪¬┘è╪º╪▒┘è╪⌐)
-- ===================================

-- ╪¡╪░┘ü ╪º┘ä┘ê╪½╪º╪ª┘é ╪º┘ä┘à┘å┘é┘ê┘ä╪⌐ (┘ü┘è ╪¡╪º┘ä╪⌐ ╪º┘ä╪¡╪º╪¼╪⌐ ┘ä╪Ñ╪╣╪º╪»╪⌐ ╪º┘ä┘å┘é┘ä)
-- DELETE FROM document_field_values 
-- WHERE document_id IN (
--     SELECT id FROM documents WHERE section_id = 1
-- );
-- 
-- DELETE FROM documents WHERE section_id = 1;

Γ£à ╪¬┘à ╪Ñ┘å╪┤╪º╪í ╪º╪│╪¬╪╣┘ä╪º┘à╪º╪¬ SQL ╪¿┘å╪¼╪º╪¡!
≡ƒô¥ ┘è┘à┘â┘å┘â ┘å╪│╪« ╪º┘ä╪º╪│╪¬╪╣┘ä╪º┘à╪º╪¬ ╪ú╪╣┘ä╪º┘ç ┘ê╪¬┘å┘ü┘è╪░┘ç╪º ┘ü┘è phpMyAdmin ╪ú┘ê ╪ú┘è ╪ú╪»╪º╪⌐ ╪Ñ╪»╪º╪▒╪⌐ ┘é┘ê╪º╪╣╪» ╪¿┘è╪º┘å╪º╪¬
